*{
	margin: 0;
	padding: 0;
	background:#1E242A ;
}

#main{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	z-index: -2;
}
#box1{

	width: 530px;
	height: 625px;
	background-image: url(1.png);
	position: absolute;
	bottom: -100%;
	left: 30%;
	animation: anim 2s forwards,anim2 3s forwards 3s;
}


#box1:after{
	content: '';
	position: absolute;
	width: 530px;
	height:625px ;
	left: 0px;
	z-index: -1;
	background-image: url(2.png);
}
@keyframes anim{
	from{
		bottom: -100%;
	}
	to{
		bottom: 0;
	}
}
@keyframes anim2{
	from{
		left: 30%;
		width: 530px;
	}
	to{
		width: 0px;
		left: 50%;
	}
}
#box2{
	height: 60%;
	width: 45%;
	font-family: 'League Gothic', sans-serif;
	color: white;
	font-size: 8em;
	font-weight: 500;
	line-height: 130px;
	position: absolute;
	top: 250px;
	left: 100px;
	overflow: hidden;
	z-index:300 ;
	background: transparent!important;
}
#text{
	position: absolute;
	left:-120% ;
	width: 45%;
	animation: anim3 2s forwards 3s;
}
@keyframes anim3{
	from{
		left:-120% ;
	}
	to{
		left: 0vw;
	}
}

#box3{
	overflow: hidden;
}
#container{
	width: 100%;
	position: absolute;
	top: -100%;
	animation:anim4 2s forwards 2.5s ;

}
#logo{
	float: left;
	margin-left: 100px;
	margin-top:30px ;
	position: absolute;
	height: 50px;
	z-index: 300;
	width: 50px;
	font-size: 40px;
}
#logo .fa{
	width: 50px;
	height: 50px;
	color: white;
	z-index: 450;
	cursor: pointer;
}
#logo .fa:hover{
	background:-moz-linear-gradient(top, #e72c83 0%, #a742c6 100%); 
    background: -webkit-linear-gradient(top, #e72c83 0%,#a742c6 100%); 
    background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
	
}
#menu{
	font-family: 'League Gothic', sans-serif;
	font-size: 1rem;
	color: whitesmoke;
	letter-spacing: 2px;
	display: flex;
	margin-right: 150px;
	float: right;
	z-index: 100;
	height: 10vh;
	text-align: center;
	padding-top: 5px;
	justify-content: center;
	left: 100px;
	margin-top: 20px;
}
#menu ul{
	list-style: none;
	height: 30px;
	left: 100px;
	transform: translateY(10px);
}
#menu ul li{
	display: inline-block;
	margin-left: 40px;
	cursor: pointer;
	font-size: 1.2rem;
	align-content: center;
	bottom: 10px;
	margin-top: 5px;
	padding: 5px 10px;

}
#menu ul li:hover{
	background:-moz-linear-gradient(top, #e72c83 0%, #a742c6 100%); 
    background: -webkit-linear-gradient(top, #e72c83 0%,#a742c6 100%); 
    background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
 	border-bottom: 0.5px white solid;
}


@keyframes anim4{
	from{
		top: -100%;

	}
	to{
		top: 0%;
	}
}
 a{
	margin: 0;
	padding: 0;
}